<h1 id="tableLabel">Events</h1>

<p *ngIf="loading"><em>Loading...</em></p>

<div class="row">
  <div class="col-md-12 mb-md-4">
    <input [(ngModel)]="event.name" placeholder="Name" class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-md-4">
    <input [(ngModel)]="event.imagePath" placeholder="Image path (url)" class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-md-4">
    <input [(ngModel)]="event.date" datetime="yyyy-MM-dd"/>
  </div>
</div>
<div class="row">
  <div class="col-md-3 mb-md-4">
    <input [(ngModel)]="event.official" type="checkbox" #official/>
    <label for="checkbox">Official</label>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="Save()">Save</button>
    <button class="btn btn-danger" (click)="Delete()">Delete</button>
  </div>
</div>
