<h1 id="tableLabel">Players</h1>

<p *ngIf="_loading"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="players">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score (Curent season)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.name }}</td>
      <td>{{ player.score }}</td>
    </tr>
  </tbody>

</table>

<div class="row">
  <div class="col-md-6">
    <input [(ngModel)]="newPlayer.name" placeholder="Name" class="form-control" />
  </div>

  <div class="col-md-6">
    <button class="btn btn-primary" (click)="AddNewPlayer()">Add New Player</button>
  </div>
</div>

