<h1 id="tableLabel">Players</h1>

<p *ngIf="loading"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="players">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score (Curent season)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td *ngIf="player.IsInEditMode"><input [(ngModel)]="player.name" placeholder="Name" class="form-control" /></td>
      <td *ngIf="!player.IsInEditMode">{{ player.name }}</td>
      <td>{{ player.score }}</td>
      <td>
        <button *ngIf="!player.IsInEditMode" type="button" class="btn btn-outline-primary btn-sm" (click)="player.IsInEditMode=true">Edit</button>
        <button *ngIf="player.IsInEditMode" type="button" class="btn btn-outline-primary btn-sm" (click)="EditPlayer(player)">Confirm</button>
        <button *ngIf="!player.IsInEditMode" type="button" class="btn btn-outline-danger btn-sm" (click)="DeletePlayer(player.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<form (ngSubmit)="AddNewPlayer()">
  <div class="row">
    <div class="col-md-6">
      <input [(ngModel)]="newPlayer.name" name="Name" placeholder="Name" class="form-control" />
    </div>

    <div class="col-md-6">
      <button class="btn btn-primary" type="submit">Add New Player</button>
    </div>
  </div>
  <div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>
</form>
